:root {
  --font-family:          system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --color-background:     #272526;
  --color-foreground:     #272526;
  --background-gradient:  linear-gradient(
    195deg,
    #fedc2a -30%,
    #dd5789 50%,
    #7a2c9e 130%
  );
}

body {
  display:          flex;
  justify-content:  center;
  align-items:      center;
  overflow-y:       hidden;
  position:         relative;
  color:          white;
  height:           100vh;
  font-family:      var(--font-family);
  background-image: var(--background-gradient);
  background-color: var(--color-background);
}

button {
  appearance:       none;
  border:           none;
  cursor:           pointer;
  padding:          0.4em 0.7em;
  border-radius:    2px;
  background-color: white;
  transition:       all ease-in 0.1s;
}

li {
  list-style: none
}
